#header-v3 #main-nav li.top {
    line-height: 16px ! important;
    text-align: center;
}

#header-v3 a.showme,
#header-v3 a.reset{
    color: #ffffff;
    font-size: .8em;
}

#header-v3 li.top:hover a.showme,
#header-v3 li.top:hover a.reset{
    color: #3b85ad;
    background-color: #ffffff;
}

#header-v3 li.top:hover {
    background-color: #ffffff;
}

#hot-topics-wrapper,
#content {
    position: relative;
}

.showing {
    color: #e68220 !important;
}

.fader {
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 30 !important;
}

.standout {
    position: relative;
    z-index: 40 !important;
}

.no-standout {
    opacity: 0.3;
    position: relative;
    z-index: 40 !important;
}

.module:hover,
.module:hover .no-standout {
    opacity: 1.0 !important;
    z-index: 40 !important;
}